In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

filenames = ['agent_log', 'agent_log_5','agent_log_6','agent_log_7', 'agent_log_8', 'agent_log_9', 'agent_log_10']

x_max = 400
y_max = 400
z_max = 50

SMALL_SIZE = 14
MEDIUM_SIZE = 16
BIGGER_SIZE = 18

plt.rc('font', size=SMALL_SIZE)          # controls default text sizes
plt.rc('axes', titlesize=SMALL_SIZE)     # fontsize of the axes title
plt.rc('axes', labelsize=MEDIUM_SIZE)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('legend', fontsize=SMALL_SIZE)    # legend fontsize
plt.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title
plt.style.use("seaborn-v0_8-whitegrid")

In [2]:
data = []
for filename in filenames:
    df = pd.read_csv("output/" + filename + ".csv")
    df_last = df[df["tick"] == df["tick"].max()]
    data.append(
        {
            "0": len(df_last[df_last["type"] == 0]),
            "1": len(df_last[df_last["type"] == 1]),
            "2": len(df_last[df_last["type"] == 2]),
            "3": len(df_last[df_last["type"] == 3]),
            "4": len(df_last[df_last["type"] == 4]),
            "5": len(df_last[df_last["type"] == 5]),
            "6": len(df_last[df_last["type"] == 6]),
            "7": len(df_last[df_last["type"] == 7]),
            "8": len(df_last[df_last["type"] == 8]),
            "9": len(df_last[df_last["type"] == 9]),
            "10": len(df_last[df_last["type"] == 10]),
            "11": len(df_last[df_last["type"] == 11]),
        }
    )
    
cols = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11"]
df2 = pd.DataFrame(data, columns=cols)

In [3]:
df2

      0     1     2    3    4    5    6    7    8     9   10    11
0  1664  1931  1576   84  200  601  549  118  595   263  404   318
1  1296  1708  1526   97  459  397  246  157  744   480  193   121
2  1976  2003  1329  118  395  538  806  104  420    56  284    67
3  1483  1162   927   57  352  443  261  155  373    51  371    37
4  2079  1904   670   74  432  245  169  157  524  1162  469  1363
5   908  1932  1647   76  406  471  376  113  466   486  217    83
6  1315   583   749   96  267  354  236   80  494   403  365  1369

In [16]:
df2.mean(axis=0)

0     1583.2
1     2033.2
2     1529.2
3      126.2
4      342.8
5      368.2
6      436.4
7      140.8
8      615.2
9      729.8
10     337.2
11     247.0
dtype: float64