In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

filenames = ['agent_log', 'agent_log_1','agent_log_2','agent_log_3', 'agent_log_4', 'agent_log_5', 'agent_log_6', 'agent_log_7', 'agent_log_8', 'agent_log_9', 'agent_log_10', 'agent_log_11', 'agent_log_12', 'agent_log_13', 'agent_log_14', 'agent_log_15', 'agent_log_16', 'agent_log_17']#, 'agent_log_18', 'agent_log_19', 'agent_log_20', 'agent_log_21', 'agent_log_22', 'agent_log_23', 'agent_log_24', 'agent_log_25', 'agent_log_26', 'agent_log_27', 'agent_log_28', 'agent_log_29', 'agent_log_30']

x_max = 400
y_max = 400
z_max = 50

SMALL_SIZE = 14
MEDIUM_SIZE = 16
BIGGER_SIZE = 18

plt.rc('font', size=SMALL_SIZE)          # controls default text sizes
plt.rc('axes', titlesize=SMALL_SIZE)     # fontsize of the axes title
plt.rc('axes', labelsize=MEDIUM_SIZE)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('legend', fontsize=SMALL_SIZE)    # legend fontsize
plt.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title
plt.style.use("seaborn-v0_8-whitegrid")

In [2]:
data = []
for filename in filenames:
    df = pd.read_csv("output/" + filename + ".csv")
    df_last = df[df["tick"] == df["tick"].max()]
    data.append(
        {
            "0": len(df_last[df_last["type"] == 0]),
            "1": len(df_last[df_last["type"] == 1]),
            "2": len(df_last[df_last["type"] == 2]),
            "3": len(df_last[df_last["type"] == 3]),
            "4": len(df_last[df_last["type"] == 4]),
            "5": len(df_last[df_last["type"] == 5]),
            "6": len(df_last[df_last["type"] == 6]),
            "7": len(df_last[df_last["type"] == 7]),
            "8": len(df_last[df_last["type"] == 8]),
            "9": len(df_last[df_last["type"] == 9]),
            "10": len(df_last[df_last["type"] == 10]),
            "11": len(df_last[df_last["type"] == 11]),
        }
    )
    
cols = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11"]
df2 = pd.DataFrame(data, columns=cols)

In [3]:
df2

       0     1     2    3     4    5    6    7    8     9   10    11
0   2632  1836  1310   97  1023  544  316   47  458   212  272    12
1   1715  1266  1461   57   151  189  255  216  720  1464  304   404
2   2510  1192  1429  133   404  343  164  118  499   319  220   240
3   2879  1120  1904  135   392  455  190   73  730    93  268     6
4   1842  2522  1530  116   231  298  646  228  400   690  321   416
5    635  1691   941  119   436  550  546  176  348   651  319   475
6   2079  1398  1399  166   667  378  578  227  567   644  406   224
7   1135  2071  1702   54   389  213  247   84  659  2610  264   185
8    963  2183  1393  144   635  377  222   28  548   182  285  1794
9   1716  2314  1605    3   129  326  170  102  653  1260  276     0
10   895  1595  1874   39   232  419  136   80  674  1166  195   182
11   436  1950  1580  138   384  219  702  142  471   374  230    94
12  1225  2072  1260  143   126  361  593   74  458   789  210   208
13  1808  2066  1462  123   458  227  154   28  811  3273  230  1612
14  1395  1829  1156   63   633  709  464  135  388   763  119   193
15  1911  1810  1848   87   219  481  270  149  452   436  399   314
16  1769  2573  2172  186   444  495  212  132  804  1027  303    55
17  1761  1350  1605  135   716  548  253  164  405  1800  243    82

In [4]:
df2.mean(axis=0)

0     1628.111111
1     1824.333333
2     1535.055556
3      107.666667
4      426.055556
5      396.222222
6      339.888889
7      122.388889
8      558.055556
9      986.277778
10     270.222222
11     360.888889
dtype: float64

In [5]:
df2.std(axis=0)

0     669.138330
1     440.400085
2     294.856590
3      48.050219
4     238.091053
5     142.080986
6     191.120501
7      63.615702
8     148.892963
9     855.370495
10     69.087801
11    509.182839
dtype: float64